  <div class="metric-card">
      <div >
        <i :class="{{icon}}" style=" font-size: 24px; "></i> 
      </div>
      <div class="metric-details">
        <h3>{{ title }}</h3>
        <div class="metric-value">{{ value }}</div>
        <div class="metric-change" [ngClass]="{'up': trend === 'up', 'down': trend === 'down'}">
          <span class="material-icons">{{ trend === 'up' ? 'trending_up' : 'trending_down' }}</span>
          <span>{{ change }}</span>
        </div>
      </div>
     

    </div>
